<p style="color: green"><%= notice %></p>

<h1>Bienvenido a nuestra tienda en línea</h1>
<p>Explora nuestros productos:</p>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="product-card">
      <h2><%= link_to product.name, product_path(product) %></h2>
      <p><%= product.description.truncate(100) %></p>
      <p><strong>Precio:</strong> $<%= product.price %></p>
      <%= link_to 'Ver Detalles', product_path(product), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<h1> </h1>

<%= link_to "New product", new_product_path %>
